body{
  background-image: url("/img/fondo.jpg");
  background-size: 1600px;
}

#formulario{
  margin-left: 0.8%;
  margin-top: 0.8%;
  margin-right: 0.8%;
  border: 0.5em solid black;
  border-radius: 50px;
  border-style:outset;
  border-color: gray;
}

fieldset{
  margin-bottom: 2%;
  margin-top: 2%;
  margin-left: 10%;
  margin-right: 10%;
}

legend{
  font-family:serif;
  text-shadow: 4px 4px 4px black;
  font-size: 50px;
  color: white;
  font-weight: bold;
  padding-left: 20%;
  margin-bottom: 50px;
  font-variant: small-caps;
  font-synthesis: style;
  font-language-override: normal;
  font-kerning: normal;
}

fieldset ul li{
  font-size: 20px;
  font-weight: bold;
  color: white;
  font-weight: bolder;
  font-weight: 100;
  font-weight: lighter;
  font-style: oblique;
  text-shadow: 1px 1px 1px black;
}

div.nombres{
  display: inline-flex;
  margin-right: 15%;
  margin-bottom: 2%;
}

div.apellidos {
  display: inline-flex;
  margin-right: 15%;
  margin-bottom: 2%;
}

div.rut{
  display: inline-flex;
  margin-bottom: 2%;
}

div.correo{
  display: inline-flex;
  margin-bottom: 2%;
  margin-right: 15%;
  margin-left: 15%;
}

div.telefono{
  display: inline-flex;
  margin-bottom: 2%;
}

div.boton button{
  margin-top: 2%;
  margin-left: 25%;
  border-radius: 10px;
  text-shadow: 1px 1px 2px black;
  color: #fff;
  background-color: #4c4a95;
  border-color: #fff;
  border-width: thick;
  font-weight:600;
}

#digito{
  width: 15px;
  text-align: center;
}

#telefono{
  width: 100px;
  text-align: center;
}
#nombre{
  text-align: center;
}
#apellido{
  text-align: center;
}
#descripcion{
  margin-top: 1%;
  width: 600px;
  height: 60px;
  text-align: justify;
}

#rut{
  width: 80px;
  text-align: center;
}

#correo{
  width: 200px;
  text-align: center;
}
div.mensaje{
  display: none;
}
